# Extensions
*.o
*.swp
*.gch

# Directories
bin/
lib/
docs/
vids/
test/results/
benchmarks/
/generated/
!/generated/.keep
googletest/

# Ide
.vscode
.syntastic_cpp_config
.idea

# Misc
.DS_Store

# Qt
moc_*

# CMake
CMakeFiles/
cmake_install.cmake
Makefile
cmake-build-debug
CMakeCache.txt
