# Extensions
*.o
*.mp4
*.jpeg
*.png
*.bmp
*.swp

# Bins
timer
gpu-filters
inpainter
linedetector
flowcalculator
tests
filter
canny_test
hough_test
kanade_test
inpainting_test

# Directories
docs/
vids/
benchmarks/

# Reincorpore entrega
!entrega/*

# Ide
.vscode
.syntastic_cpp_config
.idea
cmake-build-debug
CMakeLists.txt

# Misc
.DS_Store

